*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE.md
!README.md
!rules
!rules/*
!reads
!reads/*.scerevisiae.*
!ref
!ref/dbsnp*
!ref/dummy.gmt
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
